@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400;1,700&display=swap");

.d-container {
  margin-top: 20%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 50px; */
  /* background-color: red; */
}

.d-title {
  font-size: 53px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  /* text-transform: uppercase; */
  text-align: center;
  letter-spacing: 3px;
  line-height: normal;
}

.d-album {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  flex-wrap: wrap;
  width: 85%;
}

.d-album-image {
  position: relative;
}

.top-img {
  position: absolute;
  /* background-color: red; */
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* opacity: 0.5%; */
}

.d-album-item .top-img img {
  width: 80px;
  margin-left: 40%;
  margin-top: 40%;
}

.top-img:hover {
  display: inline;
  background-color: black;
  /* position: absolute; */
  opacity: 0.6;
}

.d-album-item {
  padding: 50px;
  width: 400px;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.d-album-item img {
  width: 350px;
  z-index: 200;
}

/* .d-album-item img:hover {
  opacity: 50%;
  color: black;
} */

.d-album-text-container {
  display: flex;
  /* background-color: blue; */
  width: 350px;
  align-content: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 10px;
  font-size: small;
}

.d-album-text-container p {
  font-size: smaller;
}

.disco {
  right: -128px;
}

@media (max-width: 450px) {
  .d-title {
    font-size: 25pt;
  }

  .d-container {
    margin-top: 70%;
  }

  .d-album-item {
    padding: 20px;
  }
}
