@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400;1,700&display=swap");

.g-container {
  margin-top: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding: 50px; */
  /* background-color: blue; */
}

.g-title {
  font-size: 53px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 3px;
  line-height: normal;
}

.g-album {
  display: flex;
  /* background-color: red; */
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  justify-content: space-between;
}

.g-album2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: flex-start;
}

.g-album-item {
  padding: 4px;
  /* background-color: green; */
}

.g-album-item .L {
  /* width: 700px; */
  height: 200px;
}

.g-album-item .P {
  /* width: 1000px; */
  height: 200px;
}

.g-album-mobile {
  display: none;
}
