.black {
  background-color: black !important;
}

.containerHeader {
  /* background-image: url(/img/BG2.jpg); */
  height: 100vh;
}

/* .logo {
  width: 90px;
  height: 40px;
  cursor: pointer;
} */

.logo {
  width: 90px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  left: 0;
  margin-left: 3rem;
  /* margin-left: 50px; */
  margin-top: 2rem;
  z-index: 1000;
}

/* hamburger menu */
.hamburgerMenu {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 3rem;
  margin-top: 2rem;
  z-index: 1002;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 20px;
  border: none;
  cursor: pointer;
  /* -webkit-backface-visibility: hidden; */
  /* background-color: red; */
}

.nav-ul {
  display: flex;
  position: fixed;
  flex-direction: column;
  row-gap: 20px;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  top: 0;
  right: 0;
  transition: all 0.7s;
  z-index: 1001;
  list-style: none;
}

.slide {
  transform: translateX(0);
}

/* hamburger menu animation */
.span1 {
  /* transform-origin: 0 0; */
  transform: rotate(45deg) translate(-2px, -2px);
}
.span2 {
  opacity: 0;
  transform: scale(0);
}
.span3 {
  transform: rotate(-45deg) translate(-1px, 0px);
}

.line {
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  /* transform-origin: 0 0; */
}

.hamburgerMenu span:nth-child(1) {
  transform-origin: 0 0;
}
.hamburgerMenu span:nth-child(3) {
  transform-origin: 0 100%;
}

.nav-ul li:hover {
  letter-spacing: 0.1em;
}
/* selesai di sini */

.containerTextHeader {
  position: absolute;
  right: 0;
  margin-right: 100px;
  margin-top: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.mainAlbum {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 75px;
  line-height: 60px;
}

.albumSong {
  letter-spacing: 1px;
  font-size: 40px;
  line-height: 35px;
}
.containerTextHeader span {
  width: 200px;
  height: 20px;
  border-bottom: 2px solid white;
}

.containerTextHeader div {
  margin: 20px 0;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fade-in-right 1s ease-in-out forwards;
}

.navSocialMedia {
  position: fixed;
  bottom: 0;
  margin-left: 50px;
  margin-bottom: 30px;
  z-index: 300;
}

.navSocialMedia li {
  width: 20px;
  height: 20px;
  margin-bottom: 27px;
  list-style: none;
}

.socialMedia {
  width: 100%;
  height: 100%;
}

@media (max-width: 450px) {
  .logo {
    position: fixed;
  }

  .lineName {
    display: none !important;
  }

  .containerTextHeader {
    margin-right: 5%;
  }

  .mainAlbum {
    font-size: 30pt;
  }
}
