* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.containerHeader {
  /* background-image: url(/img/BG2.jpg); */
  width: 100%;
  height: 100vh;
}

.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  height: 150px;
  align-items: center;
  padding: 50px;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  width: 90px;
  height: 40px;
  cursor: pointer;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 2px;
  background-color: white;
  margin-bottom: 4px;
}

.line:last-child {
  width: 20px;
}

.containerTextHeader {
  position: absolute;
  right: 0;
  margin-right: 70px;
  margin-top: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.mainAlbum {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 75px;
  line-height: 60px;
}

.albumSong {
  letter-spacing: 1px;
  font-size: 40px;
  line-height: 35px;
}
.containerTextHeader span {
  width: 200px;
  height: 20px;
  border-bottom: 2px solid white;
}

.containerTextHeader div {
  margin: 20px 0;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fade-in-right 1s ease-in-out forwards;
}

.navSocialMedia {
  position: fixed;
  bottom: 0;
  margin-left: 50px;
  margin-bottom: 30px;
  z-index: 100;
}

.navSocialMedia li {
  width: 20px;
  height: 20px;
  margin-bottom: 27px;
  list-style: none;
}

.socialMedia {
  width: 100%;
  height: 100%;
}
