@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400;1,700&display=swap");

.v-title {
  font-size: 53px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 3px;
  line-height: normal;
}

.v-container {
  margin-top: 20%;
  position: relative;
  width: 100%;
}

.v-album {
  justify-content: center;
  width: 100%;
  margin: auto;
  /* background-color: red; */
  margin-top: 100px;
}

.v-album-vid {
  /* width: 1200px; */
  margin: auto;
  height: 500px;
  max-width: 900px;
  /* background-color: blue; */
}

.v-album-pict {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: green; */
  margin-top: 50px;
  column-gap: 10px;
  row-gap: 10px;
}

.v-pict-item:hover {
  cursor: pointer;
  opacity: 0.5;
}

.v-pict-item img {
  height: 200px;
  max-width: 400px;
  z-index: 200;
}

.v-pict-text {
  display: flex;
  /* background-color: blue; */
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 10px;
  font-size: small;
}

@media (max-width: 450px) {
  .v-album-pict {
    column-gap: 0;
  }
}
