@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400;1,700&display=swap");

.v-title {
  font-size: 53px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 3px;
  line-height: normal;
}

.v-container {
  margin-top: 20%;
  position: relative;
  width: 100%;
}

.v-album{
  justify-content: center;
  /* display: flex;
  flex-wrap: wrap; */
  width: 1200px;
}

.v-album-vid{
  /* width: 1200px; */
  justify-content: center;
  height: 400px;
  width: 800px;
}

.v-album-pict{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.v-pict-item{
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.v-pict-item img{
  height: 200px;
  width: 400px;
  z-index: 200;
}

.v-pict-text{
  display: flex;
  /* background-color: blue; */
  width: 350px;
  align-content: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 10px;
  font-size: small
}
